<div class="row">
  <div class="col-md-12">
    <section>
      <h3><%= link_to "Add New Task", new_task_path %></h3>
    </section>
    <section>
      <h3>Task List</h3>
      <% if @tasks.any? %>
        <ol class="tasks">
          <%= render @tasks %>
        </ol>
      <% end %>
    </section>
  </div>
</div>